@model WebT.Models.Order
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <div>
            @Html.LabelFor(model => model.Name)
            <p>@Html.EditorFor(model => model.Name)</p>
        </div>
        <div>
            @Html.LabelFor(model => model.Sum)
            <p>@Html.EditorFor(model => model.Sum)</p>
        </div>
        <p><input type="submit" value="Сохранить" /></p>
    }
</div>
